<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/calendar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calendar"
        android:supportsRtl="true"
        android:theme="@style/Theme.INTENTO"
        tools:targetApi="31">
        <activity
            android:name=".Sunday_Activity"
            android:exported="false" />
        <activity
            android:name=".Saturday_Activity"
            android:exported="false" />
        <activity
            android:name=".Friday_Activity"
            android:exported="false" />
        <activity
            android:name=".Thursday_Activity"
            android:exported="false" />
        <activity
            android:name=".Wednesday_Activity"
            android:exported="false" />
        <activity
            android:name=".Tuesday_Activity"
            android:exported="false" />
        <activity android:name=".ModifyBudget_activity" />
        <activity android:name=".Monday_Activity" />
        <activity android:name=".Activity_drawer_menu" />
        <activity android:name=".AddSpending_popup_activity" />
        <activity android:name=".Budget_main_activity" />
        <activity android:name=".CategoryBudget_activity" />
        <activity android:name=".EditCategory_popup_activity" />
        <activity android:name=".ModifyBudget_popup_activity" />
        <activity android:name=".NewCategory_popup_activity" />
        <activity android:name=".Event_main_activity" />
        <activity
            android:name=".Prueba"
            android:exported="false" />
        <activity
            android:name=".ModificarUserActivity"
            android:exported="false" />
        <activity
            android:name=".Usuario"
            android:exported="false" />
        <activity
            android:name=".ConsultarUserActivity"
            android:exported="false" />
        <activity
            android:name=".NewUserActivity"
            android:exported="false" />
        <activity
            android:name=".Fetching_activity"
            android:exported="false" />
        <activity
            android:name=".Track_habit_activity"
            android:exported="false" />
        <activity
            android:name=".Daily_view_activity"
            android:exported="false" />
        <activity
            android:name=".Modify_event_activity"
            android:exported="false" />
        <activity
            android:name=".Add_new_event_activity"
            android:exported="false" />
        <activity
            android:name=".Your_calendars_activity"
            android:exported="false" />
        <activity
            android:name=".Event_detail_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>